/*-------------------------
  初期値
-------------------------*/
@charset "UTF-8";

/*-------------------------
  テーブル書式
-------------------------*/
table {
  border-collapse: collapse;
}
thead{
  color: #fff;
  background-color: cornflowerblue;
}
th,td{
  border: 1px solid #ccc;
  width: 200px;
  text-align: center
}
